[Unit]
Description=OctoFarm 3D Printer Management System
After=network.target mongod.service

[Service]
Environment=NODE_ENV=production
WorkingDirectory=~/OctoFarm-test
ExecStart=/usr/bin/npm run server
Restart=always
User=your_user
Group=your_group

[Install]
WantedBy=multi-user.target
